html {
    font-size: $font-size-base;

    @media (max-width: 767px) {
        font-size: $font-size-mobile-base;
    }

}

body {
    font-family: $font-family-base;
    box-sizing: border-box;
    min-height: 100vh;
    color: $color-base;
    background: #F1F1F1;
}

#header {
    height: 105px;
    background: #fff;
    width: 100%;
    margin: 0;
    display: block;
    float: left;
    box-shadow: 0 0 2px $color-shadow;
}

h2 {
    font-size: $font-size-large;
    font-weight: 600;
    line-height: $line-height-to-large;
    color: $color-base;
}

.btn-primary {
    background: $bg-button1;
    color: $color-button1 !important;
    border: none;
    font-size: $font-size-base;
    line-height: $line-height-to-base;
    padding: 10px 30px;
    border-radius: 10px;
}

.btn-secondary {
    background: #fff;
    color: $color-active;
    border: 1px solid $color-active;
    font-size: $font-size-base;
    line-height: $line-height-to-base;
    padding: 9px 29px;
    border-radius: 10px;
}

.btn-secondary:hover {
    background: $color-active;
    color: #fff !important;
}

.btn-primary:hover {
    background: $color-active;
    color: #fff !important;
}

.box-left {
    width: 100%;
    float: left;
    background: #fff;
    border-radius: 10px;
}

.invalid-feedback {
    display: block;
}

a {
    text-decoration: none;
    font-size:16px;
    color:$color-base;
    line-height: $line-height-to-16;
}

p{
    font-size:16px;
    color:$color-base;
    line-height: $line-height-to-16;
}

.auth-link {
    color:$color-second;
    font-size:14px;
    line-height:20px;
}

table {
    tr {
        border: 0;
    }

    th {

        color: $color-second;
        font-size: 14px;
        line-height: 20px;
        border: 0;

    }

    td {
        color: $color-base;
        font-size: $font-size-base;
        line-height: 26px;
        font-weight: 400;
        border: 0;
    }

    th, td {
        a{
            color: $color-second;
            font-size: 14px;
            line-height: 20px;
            border: 0;
            text-decoration: none;
        }
    }

}

.toolbox-left ul, .nav-up {
    li {
        a {
            color: $color-base;
            font-size: $font-size-base;
            line-height: $line-height-to-base;
        }
    }

    li.active {
        border-bottom: 4px solid #495FAC;
    }
    li{
        list-style-type: none;
    }
}

.toolbox-left ul,
.toolbox-left ul li{
    padding:0;
    margin:0;
}
label {
    font-size: 16px;
    line-height: 26px;
    color: $color-base;
    font-weight: 600;
    margin-bottom: 0.3rem !important;
}

.form-control {
    border: none;
    color: $color-second;
    font-size: 16px;
    line-height: 26px;
    border-bottom: 1px solid #C9C9C9;
    border-radius: 0;
}

.form-control:focus {
    border: none;
    border-bottom: 1px solid #0d6efd;
    border-radius: 0;
    box-shadow: none;
}

.white-box{
    background: #fff;
    box-shadow: 0 4px 4px 0 #6F6F6F1A;
    padding:10px;
    border-radius:10px;
}

.swal-button--confirm {
    @extend .btn-primary;
}

.swal2-confirm {
    background: $bg-button1 !important;
    color: $color-button1 !important;

}

.swal2-title {
    box-sizing: border-box;
    background: $color-active;
    color: #fff;
    font-size: $font-size-large;
    line-height: $line-height-to-large;
    font-weight: 400;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:10px;
}
