@font-face {
    font-family: 'CitroenType';
    src: url('../fonts/CitroenType-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'CitroenType';
    src: url('../fonts/CitroenType-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'CitroenType';
    src: url('../fonts/CitroenType-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CitroenType';
    src: url('../fonts/CitroenType-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CitroenType';
    src: url('../fonts/CitroenType-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

//italic
@font-face {
    font-family: 'CitroenType';
    src: url('../fonts/CitroenType-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'CitroenType';
    src: url('../fonts/CitroenType-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'CitroenType';
    src: url('../fonts/CitroenType-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'CitroenType';
    src: url('../fonts/CitroenType-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'CitroenType';
    src: url('../fonts/CitroenType-BoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}




