//fonts
$font-family-base: 'Nunito', sans-serif;
//font-size
$font-size-mobile-base: 14px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 20px;

$line-height-to-large: 30px;
$line-height-to-base: 20px;
$line-height-to-16: 26px;

//backgrounds
$bg-base:#fff;

$bg-button1: #E4E9F4;
$color-button1: #495FAC;

//colors
$color-base: #232323;
$color-second: #595959;
$color-shadow: #6F6F6F;
$color-active: #495FAC;


