//fonts
$font-family-base: 'CitroenType', sans-serif;
//font-size
$font-size-mobile-base: 14px;
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 18px;

$line-height-to-large: 19.26px;
$line-height-to-base: 17.12px;

//backgrounds
$bg-base:#57718A;
$bg-footer:#57718A;

//colors
$color-base: #3B3938;
$color-danger:#DA291C;
$color-border: #7F7F7F;
$color-active:#DA291C;
$color-border-white:#D9D9D9;
$color-inactive: #ccc;
$color-highlight: #fd7e14;
