@import "../../../node_modules/bootstrap";
@import "../../../node_modules/select2/src/scss/core";
@import "../../../node_modules/select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.css";
@import "../../../node_modules/daterangepicker/daterangepicker.css";
@import "../../../node_modules/boxicons";
//@import "../../../node_modules/jquery-ui/dist/themes/smoothness/jquery-ui.min.css";

@import "fonts";

$font-family-base: 'Nunito', sans-serif;
$font-size-base: 16px;
$line-height-to-base: 18.44px;
$color-base: #232323;
$bg-active: #D1291A;
$color-second: #595959;


html {
    font-size: $font-size-base;
}

body {
    font-family: $font-family-base;
    box-sizing: border-box;
    min-height: 100vh;
    color: $color-base;
    background: #F1F1F1;
}

h2{
    padding:0;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: $color-base;
}

h3{
    padding:0;
    font-size: 16px;
    line-height: 18.44px;
    font-weight: 600;
    color: $color-base;
}


.box-radius
{
    border-radius:10px;
    box-shadow: 0 4px 4px 0 #6F6F6F1A;
}
.btn{
    padding: 10px 50px 10px 50px;
    border-radius:10px;
    font-size:16px;
    line-height:30px;
    font-weight: 600;
}
.btn-primary, .btn-primary:hover{
    background: $bg-active;
    border-color: $bg-active;
    color:#fff;
}
.btn-secondary, .btn-secondary:hover{
    background:#fff;
    border-color: #fff !important;
    color: $bg-active;
    box-shadow: 0 4px 4px 0 #6F6F6F1A;

}

.btn:hover{
    padding: 12px 55px 12px 55px !important;
    font-weight: 800;
}

.form-label {
    font-size: 16px;
    line-height: 26px;
    color: $color-base;
    font-weight: 600;
    margin-bottom: 0.3rem !important;
}

.form-control {
    border: none;
    color: $color-second;
    font-size: 16px;
    line-height: 26px;
    border-bottom: 1px solid #C9C9C9;
    border-radius: 0;
}

.form-control:focus {
    border: none;
    border-bottom: 1px solid #0d6efd;
    border-radius: 0;
    box-shadow: none;
}
